<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Default Suite" parallel="methods">
    <test thread-count="5" name="MercadoLibreTests">
        <classes>
            <class name="org.fsolano.tests.MercadoLibreTests"/>
        </classes>
    </test>
</suite>